1、数据加密
2、编码【内部管理编码化】
    客户编码
3、功能
    客户日历
    大事预警
4、数据源【参考神策的采集经验】
    CGTW
        10003：客户，开发任务，Notes
        10002：配置：配置更新，配置检查
    Shotgun
    SpiderDB
    YHKT的模式
5、时间管理
    日历
    双周计划/review