1、数据加密
2、编码【内部管理编码化】
    客户编码
3、功能
    客户日历
    大事预警
4、数据源【参考神策的采集经验】
    CGTW
        10003：客户，开发任务，Notes
        10002：配置：配置更新，配置检查
    Shotgun
    SpiderDB
    YHKT的模式
5、时间管理
    日历
    双周计划/review
6、提供各种基本功能，提供功能组
    6.1、功能组，例如CRM，
    6.2、基础功能，各种窗口，都可以切换显示
    6.3、界面自定义，拖拽，参照Maya
7、任务指派方式
    7.1、直接指派，不指派不开始工作
    7.2、大量直接指派，形成队列，从个人队列取任务
    7.3、指派给队列，按队列顺序获取个人任务
    7.4、指派给队列，按角色然后按队列顺序获取个人任务
    7.5、指派给队列，个人认领方式【简单任务】
    7.6、指派给队列，任务悬赏方式【难度任务】
8、销售策略模拟器
    8.1、销售策略
    8.2、模拟成交（客户类型，客户随机性，成交概率，难度）
    8.3、销售策略比较
    8.4、客户采购策略模拟（ROI投资回报率，性价比比较）
    8.5、基于模型、数据系统来讲解术语、法则等